$background-color: #fafcea;
$link-color: #754e11;
$article-link-color: #0000ee;

// * { border: 1px solid black; }

body {
    background-color: $background-color;
    padding: 0;
}

h2 {
    margin-top: 2.5rem;
}

p {
    margin-top: 0.8rem;
}

.year-heading {
    margin: 1em 0 0;
    padding: 0;
}

.readmore {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.frontmatter {
    display: block;

    * {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .deck {
        font-size: 1.2em;
        font-style: italic;
        color: #666666;
        margin-top: 4px;
    }

    .author {
        font-size: 1.1em;
    }

    .pubdate {
        font-size: 0.9em;
        margin-top: -4px;
    }

    .lastmod {
        font-size: 0.8em;
        margin-top: -8px;
        font-style: italic;
        color: #666666;
    }
}

.navbar{
    width: 100%;
    margin: 10px 0;
    padding: 0;
    background-color: $background-color;

    .nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        height: 60px;

        .nav-logo {
            display: block;
            float: left;

            img {
                height: 60px;
                width: auto;
            }
        }

        .nav-links {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            a {
                display: block;
                color: $link-color;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                margin: 0;
                padding: 5px 40px 10px 40px;
                border-radius: 10px;
                font-size: 1.4em;

                &:hover {
                    background-color: darken($background-color, 10%);
                    transition: background-color 0.1s ease-in;
                }
            }
        }
    }
}

.posts-list a {
    display: block;
    text-decoration: none;
    margin: 20px 0 0;
    padding: 0;

    .post-block {
        margin: 0;
        padding: 6px 12px;
        color: black;
        background-color: #fff;

        &:hover {
            background-color: darken($background-color, 10%);
            transition: background-color 0.1s ease-in;
        }

        .post-title {
            margin: 0;
            padding: 0;
        }

        .post-meta {
            display: block;

            * {
                display: inline;
            }

            .post-date {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 0.9em;
                color: #666666;
            }

            .post-tag {
                font-family: "Courier Prime", monospace;
                margin: 0;
                padding: 2px 4px 2px;
                font-size: 0.8em;
                text-align: center;
                background-color: #ddd;
                border-radius: 5px;
            }
        }

        .post-deck {
            margin: 0;
            padding: 0;
            font-style: italic;
        }
    }
}

.page-buttons {
    display: flex;
    justify-content: space-between;

    a {
        color: $link-color;
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: none;
        border-radius: 10px;
        margin: 10px 0;
        padding: 0;
    }

    .button {
        margin: 0;
        padding: 2px 15px 4px 15px;
        border-radius: 10px;

        &:hover {
            background-color: darken($background-color, 10%);
            transition: background-color 0.1s ease-in;
        }
    }

    .previous {
        margin-right: auto;
    }

    .next {
        margin-left: auto;
    }
}

article {
    background-color: #fff;
    padding: 6px 12px;
    margin: 10px 0 0;

    a {
        color: $article-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        display: block;
        margin: auto;
    }
}

.tags {
    margin: 0;
    padding: 0;

    * {
        display: inline;
        font-family: "Courier Prime", monospace;
        margin: 0;
        padding: 2px 4px 2px;
        font-size: 0.8em;
        text-align: center;
        background-color: #ddd;
        border-radius: 5px;
    }
}

pre {
    border-radius: 0;
    padding: 6px 12px;
    margin: 0;
    scrollbar-color: $background-color #282a36; /* background from dracula theme */
    scrollbar-width: thin;

    code {
        font-family: "Courier Prime", monospace;
    }

    /* WebKit and Chromiums */
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #282a36; /* background from dracula theme" */
    }

    &::-webkit-scrollbar-thumb {
        background: $background-color;
        border-radius: 5px;
    }
}

.backtotop {
    text-align: center;
    width: 100%;
    margin: 0 0 2px;

    a {
        display: block;
        color: $link-color;
        background-color: darken($background-color, 5%);
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: darken($background-color, 15%);
            transition: background-color 0.1s ease-in;
        }
    }
}

footer {
    text-align: center;
    margin: 20px 0 0;

    a {
        color: $link-color;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copy-code-button {
    color: black;
    background-color: lighten($background-color, 5%);
    border: 2px solid darken($link-color, 10%);

    width: 90px;
    font-size: 0.9em;

    &:hover {
        cursor: pointer;
        background-color: darken($background-color, 5%);
        transition: background-color 0.1s ease-in;
    }
}

/* Firefox */
html {
  scrollbar-color: $link-color $background-color;
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $background-color;
}

::-webkit-scrollbar-thumb {
  background: $link-color;
  border-radius: 5px;
}

// spoilers
.inline-spoiler {
  background: black;
  color: transparent;
  cursor: help;
  user-select: none;
  transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
}

.inline-spoiler:hover,
.inline-spoiler:focus {
  background: #fff;
  color: inherit;
}

// goat diagrams
.goat {
    font-family: "Latin Modern", serif;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    svg {
        margin: auto;
        background: white;
        display: block;
    }
}