<head>
  <meta charset="utf-8" />
  {{- if ne .Title .Site.Title }}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{- else }}
  <title>{{ .Site.Title }}</title>
  {{- end }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.Author.Name }}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://latex.vercel.app/style.css">
  {{- $styles := resources.Get "sass/styles.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <!-- Math Rendering -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5RGRJ8SF6L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RGRJ8SF6L');
  </script>
</head>